
<div
  class="product-card"
  (click)="openDetails()">
  <div class="image-wrap">
    <img
      [src]="product.image"
      [alt]="product.title"
      loading="lazy"
      (error)="setFallback($event)">
  </div>
  <div class="content">
    <h3>{{ product.title }}</h3>
    <p>{{ product.description }}</p>
    <div class="bottom-row">
      <strong>
        ₹{{ product.price }}
      </strong>
      <button
        class="cart-btn"
        (click)="addToCart($event)">
        Add to Cart
      </button>
    </div>
  </div>
</div>