.footer {
  margin-top: 2rem;
  background: var(--surface);
  border-top: 1px solid var(--border);
}

.footer-grid {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer a {
  display: block;
  // margin-top: .5rem;
  color: var(--muted);
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.copyright {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--border);
  color: var(--muted);
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}