@use './styles/themes';
@use './styles/button';

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, Roboto, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3 ease, color 0.3 ease;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: min(1200px, 95%);
  margin: auto;
}

.card {
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 1rem;
}

.success {
  background:#16a34a !important;
  color:#fff !important;
}

.error {
  background:#dc2626 !important;
  color:#fff !important;
}

.info {
  background:#2563eb !important;
  color:#fff !important;
}

.logout-btn {
  padding: .6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--border);
  margin-left: 1rem;
  color: #000;
  background: orange;
  font-weight: 600;
}

.mat-mdc-snack-bar-container {
  --mat-button-text-state-layer-color: red;
}

.mat-mdc-snack-bar-container.success {
  --mdc-snackbar-container-color: #16a34a;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.error {
  --mdc-snackbar-container-color: #dc2626;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.info {
  --mdc-snackbar-container-color: #2563eb;
  --mdc-snackbar-supporting-text-color: white;
}

/* Action button */
.mat-mdc-snack-bar-container .mat-mdc-button {
  color: white !important;
  transition: .35s ease !important;
}

.mat-mdc-snack-bar-container .mat-mdc-button:hover {
  color: black !important;
  transform: rotate(360deg) scale(1.15);
}

.mat-mdc-dialog-surface {
  background: var(--surface) !important;
  color: var(--text) !important;
  border: 1px solid var(--border);
  border-radius: 18px !important;
}

.mat-mdc-tab-group,
.mat-mdc-tab-body-content {
  background: transparent !important;
  color: var(--text) !important;
}

.mat-mdc-tab-label-content {
  color: var(--text) !important;
}